@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Goldman:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bruno+Ace+SC&family=Goldman:wght@400;700&display=swap');

#root {
  padding: 2rem;
  text-align: center;
}

body {
  background-color: rgb(55, 54, 54);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  -webkit-filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

/* styling for header & footer */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 1rem;
  text-align: center;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav ul li {
  display: inline;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 1rem;
  text-align: center;
  z-index: 1000;
}

/* styling for logo */
.logo-container {
  margin-bottom: 1rem;
}

.site-logo {
  height: 100px;
  width: 100px;
  border-radius: 10%;
  object-fit: cover;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

/* styling for form elements */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 400px; /* fixed max-width */
  margin: 0 auto;
}

input, button {
  width: 100%; /* input & button take full width of form */
  padding: 0.5rem;
  margin: 0.5rem 0;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #1a1a1a !important; /* Dark bg color */
  color: white !important; /* White text */
}
input::placeholder {
  color: #b3b3b3 !important; /* placeholder text color */
}

.card {
  padding: 2em;
  background-color: rgb(55, 54, 54); /* Set card background color */
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /*for aesthetics */
}

/* styling form-container */
.form-container {
  margin-top: 5rem; /* Space below header */
  margin-bottom: 5rem; /* Space above footer */
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

/* Custom styles for Bootstrap buttons */
.btn-primary {
  background-color: black;
  border: 1px solid transparent;
  transition: border-color 0.25s,background-color 0.25s, box-shadow 0.25s;
}

.btn-primary:hover {
  border-color: #6747e6;
  background-color: black;
  box-shadow: 0 0 10px rgb(63, 126, 227);;
}

.btn-primary:focus,
.btn-primary:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* styling for headings */
h1 {
  font-family: "Audiowide", sans-serif;
  margin-top: 120px;
  color: rgb(63, 126, 227);
}
h2 {
  font-family: "Bruno Ace SC", sans-serif;
  margin-top: 100px;
  color: rgb(63, 126, 227);
}
h3 {
  margin-top: 10px;
  color: white;
}
h4 {
  font-family: "Bruno Ace SC", sans-serif;
  margin-top: 10px;
  color: rgb(63, 126, 227);
}

.custom-p {
  color: rgb(255, 255, 255);
  margin-top: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .form-container {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  header, footer {
    padding: 0.5rem;
  }

  .card {
    padding: 1em;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .form-container {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .card {
    padding: 1.5rem;
  }
}

@media (min-width: 992px) {
  .form-container {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .card {
    padding: 2em;
  }
}

/* GameSearch styling */
.search-results {
  background-color: rgb(55, 54, 54);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

.search-result-item {
  background-color: rgb(55, 54, 54);
  color: white;
  padding: 20px;
  border: 1px solid rgb(70, 70, 72);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  text-align: center;
}

.search-result-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.search-result-date {
  font-size: 1rem;
  margin-bottom: 10px;
}

.add-to-library-button {
  background-color: black; /* twitch purple */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-library-button:hover {
  background-color: rgb(143, 83, 204);
}